body
{
    padding: 0;
    margin: 0;
}


.heading
{
    color: #ffffff;;
    font-weight: 900;
    font-size: 36px;
    line-height: 40px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.sec1-f1
{
    font-weight: 700;
    color: #ffffff;;
    font-size: 18px;
    line-height: 22px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.section1
{
    display:grid;
    grid-template-rows: repeat(2,auto);
    text-align: center;
    row-gap: 1.5rem;
   

}

.mob-img
{
    width:100%;
    height:auto;
}
.text
{
    display:grid;
    grid-template-rows: repeat(3,auto);
    row-gap: 1rem;
}
.section1-a
{
    display: grid;
    grid-template-rows: repeat(2,auto);
    row-gap: 1rem;
}
.sec1-images
{
    display: grid;
    grid-template-rows: repeat(2,auto);
    row-gap:2rem;
}



/*section-2 css*/


.section2
{
    display: grid;
    grid-template-rows: repeat(4,auto);
    padding: 120px 0px;
    text-align: center;
    row-gap:3rem;
}
.sec2-f1
{
    font-size: 30px;
    line-height: 34px;
    font-weight: 900;
    color:#69696e;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.new-f
{

    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #69696E;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.sec2-f2
{
    font-size: 16px;
    line-height: 20px;
     font-weight:400;
    color: #69696E;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.sec2-head
{
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#69696e;
}
.sec2-t1,.sec2-t2
{
    display: grid;
    grid-template-rows: repeat(3,auto);
    row-gap:2rem;

}
.grid-m
{
    display: grid;
    grid-template-rows: repeat(2,auto);
    row-gap:1rem;
}
.sec2-text
{    display: grid;
    grid-template-rows: repeat(2,auto);
    row-gap:1rem;

}
.sec2-t1
{
    margin-top: 3rem;
}
.sec2-t2
{
    margin:3rem 0rem;
}


/*section3 css*/


.section3
{
    background-color: #e74c3c;
    display: grid;
    grid-template-rows: repeat(2,auto);
    text-align: center;
    padding:60px 15px;
    

}
.sec3-f1
{
    font-size: 17px;
    font-weight: 700;
    color: #ffffff;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    opacity: 0.7;
    margin-bottom:2rem ;
}

.sec3-f2
{
    font-weight: 900;
    font-size: 18px;
    line-height: 16px;
    color: #ffffff;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.sec3-f3
{
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
   

}
.sec3-img
{
    border-radius: 50%;
  
}
.sec3-pad
{
    margin:25px 0px ;
    padding: 0px 1rem;
}


/*Section 4*/
.img-sec4
{
    width: 100%;
    height: auto;
}

.section4
{
    display: grid;
    grid-template-rows: repeat(1,auto);
    padding: 120px 0px;
}
.sec4-f1
{
    font-size: 30px;
    line-height: 34px;
    font-weight: 900;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #69696E;
}

.sec4-f2
{
    font-size: 20px;
    line-height: 24px;
    color: #69696E;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    

}
.sec4-head
{
    font-weight: 900;
    font-size: 20px;
    line-height: 22px;
    color: #69696E;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sec4-s
{
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #69696E;
}

.sec4-text
{
    display: grid;
    grid-template-rows: repeat(4,auto);
    row-gap: 2rem;
}

.grid-sec4
{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(2,auto);
    padding: 0px 15px;
}

.sec4-content
{
    grid-column: 2;
    grid-row: 1;
}
.sec4-magni
{
    grid-column: 2;
    grid-row:2 ;
    margin-top: 8px;
}

.sec4-icon
{
    grid-column: 1;
    grid-row: 1/3;
    padding-top:10px ;
}
.icon4-f
{
font-size: 3rem;
}
.sec4-text
{
    padding: 0px  15px;
}
.sec4-t1
{
    text-align: center;
}
.section4
{
    display: grid;
    grid-template-rows: repeat(2,auto);
    row-gap: 2rem;
}





/* section 5*/

.section5
{
    display: grid;
    grid-template-rows: repeat(4,auto);
    text-align: center;
    background-color: #eff1f4;
    padding: 40px 0px;
  
}
.sec5-img>img
{
color: #69696E;
}
.sec5-img>img:hover
{
    opacity: 1;
}


/* section 6*/

.sec6-f1
{
    font-size: 30px;
    line-height: 34px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #69696E;
    font-weight: 900;
}
.sec6-f2
{
    
font-size: 20px;
line-height: 24px;
font-weight: 400;
color: #69696E;
font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.sec6-f3
{
    font-size: 16px;
    line-height: 20px;
    color: #69696E;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    
}
.sec6-img
{
    width: 100%;
    height: auto;
}
.section6
{
    text-align: center;
    padding-top: 60px;
    padding-left: 15px;
    padding-right:15px;
}
.sec6-text
{
    display: grid;
    grid-template-rows: repeat(3,auto);
    row-gap: 1.2rem;
}






/*section 7*/



.section7
{
    background-color: #e74c3c;
    display: grid;
    grid-template-rows: repeat(2,auto);
    text-align: center;
    padding:60px 15px;
    

}
.sec7-f1
{
    font-size: 17px;
    font-weight: 700;
    color: #ffffff;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    opacity: 0.7;
    margin-bottom:2rem ;
}

.sec7-f2
{
    font-weight: 900;
    font-size: 18px;
    line-height: 16px;
    color: #ffffff;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.sec7-f3
{
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
   

}
.sec7-img
{
    border-radius: 50%;
  
}
.sec7-pad
{
    margin:25px 0px ;
    padding: 0px 1rem;
}




/*section 8*/


.section8
{
    text-align: center;
    display: grid;
    grid-template-rows: repeat(3,auto);
    padding-top: 120px;
    row-gap: 1.5rem;
}

.sec8-f1
{
    font-size: 30px;
    line-height: 34px;
    font-weight: 900;
    color: #69696E;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sec8-f2
{
    font-size: 18px;
    line-height: 22px;
    color: #69696E;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
}

.sec8-video
{
    width:100%;
    height: 16rem;

}
.video8
{
    padding: 0 1rem;
}



/* section 10*/



.section10
{
    background-color: #e74c3c;
    display: grid;
    grid-template-rows: repeat(2,auto);
    text-align: center;
    padding:60px 15px;
    

}
.sec10-f1
{
    font-size: 17px;
    font-weight: 700;
    color: #ffffff;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    opacity: 0.7;
    margin-bottom:2rem ;
}

.sec10-f2
{
    font-weight: 900;
    font-size: 18px;
    line-height: 16px;
    color: #ffffff;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.sec10-f3
{
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
   

}
.sec10-img
{
    border-radius: 50%;
  
}
.sec10-pad
{
    margin:25px 0px ;
    padding: 0px 1rem;
}



/*Section 11*/

.sec11-f1
{
    font-size: 30px;
    line-height: 34px;
    font-weight: 900;
    color: #69696E;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
.sec11-f2
{

    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #69696E;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sec11-card1
{
    border: solid 3px #EFF1F4;

    padding: 35px 20px;
    margin-bottom:25px;
    border-radius: 4px;
    text-align: center;
}
.sec11-card2
{
    background-color: #e74c3c;
    padding: 35px 20px;
    margin-bottom:25px;
    border-radius: 4px;
    text-align: center;
}

.card-btn1
{
    border: 3px solid #e74c3c;
    padding: 11px 18px;
    background-color: #e74c3c;
    border-radius: 4px;
}

.btn1-t
{
    font-size: 15px;
    font-weight: 900;
    color: #ffffff;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;;

}

.section11-main
{
    display: grid;
    grid-template-rows: repeat(4,auto);
    row-gap:2rem;
    text-align: center;
}

.card1-f1
{
    font-size: 24px;
    line-height: 28px;
    font-weight: 900;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #69696E;

}
.card1-f2
{
    font-size: 80px;
    font-weight: 900;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #69696E;
    

}

.card1-f3
{
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #69696E;
    font-weight: 400;
    
}
.col2
{
    color: white;
}
a
{
    text-decoration: none;
}

.btn2-t
{
    font-size: 15px;
    font-weight: 900;
    color: #69696E;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.card-btn2
{
    border: 3px solid #e74c3c;
    padding: 11px 18px;
    background-color: white;
    border-radius: 4px;
}














/* Media query for desktop*/
@media only screen and (min-width:769px)
{


    .heading
    {
        font-weight: 900;
        font-size: 52px;
        line-height: 56px;
    }
   

    .sec1-f1
    {
        font-size: 22px;
        line-height: 26px;
        font-weight: 700;
        font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .sec1-main
    {
        display: grid;
        grid-template-columns: 2fr 11fr 2fr;
        background-image: url("/images/background.png");
    }



    .sec1-f1
    {

    }
    .section1
    {
        grid-column: 2;
        grid-template-columns: repeat(2,1fr);
        text-align: left;

    }
    .section1-a
    {
        display: grid;
        grid-template-rows: repreat(4,1fr);
    }
    .text
    {
        grid-row:2;
        row-gap:0rem;
    }
    .sec1-images
    {
        grid-row: 3;
        display: grid;
        grid-template-columns: 5fr 2fr;
        grid-template-rows: 1fr;
      

    }
    .img-sec1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 0.5rem;
    }
    .sec1-img1
    {
        grid-row:1;
        grid-column: 1;
    }
    .sec1-img2
    {
       
       grid-row:1;
       grid-column: 2;
    }




/* section2 media queries*/





.sec2-f1{
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.section2
{
    
    grid-template-rows: repeat(2,auto);
}


.sec2-mob
{
    display: grid;
    grid-template-columns: 1fr 3fr  2fr 3fr 1fr;
    grid-template-rows: 1fr;
    column-gap: rem;
}

.mob-img
{
   
    grid-column: 3;
    grid-row: 1;
}
.sec2-t1
{
    grid-column: 2;
    grid-row: 1;
    text-align: right;
    margin: 3.5rem 0rem;
    padding-left: 2rem;
    
}
.sec2-t2
{
    grid-column: 4;
    grid-row:1;
    text-align:left;
    margin:3.5rem 0rem;
    padding-right: 2rem;
}
.grid-m
{
    row-gap: 0rem;
}

.sec2-f2
{
    font-size: 16px;
    
}
.sec2-f1
{
    font-weight: 900;
    font-size: 42px;
    line-height: 46px;
}
.new-f
{
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
}


.sec2-text
{
display: grid;
grid-template-rows: repeat(2,auto);
grid-template-columns: 1fr 2fr 1fr;
}

.sec2-con1
{
    grid-column: 2;
    grid-row: 1;
}
.sec2-con2
{
    grid-column:2;
    grid-row: 2;

}

/* section 3*/

.section3{
display: grid;
grid-template-columns: 3fr  1fr 3fr 3fr;
grid-template-rows: 1fr;
column-gap: 3rem;
padding: 3rem 0rem;

}

.img-sec3
{
    grid-column: 2;
    text-align: right;
    align-self:center;
}
.sec3-pad,.sec3-f2-mob,.sec3-f3-mob
{
    text-align: left;
    padding: 0rem;
}



/* section 4*/

.section4
{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

.part4
{
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.sec4-img
{
grid-column: 1;
grid-row:1;
}
.sec4-text
{
    grid-column: 2;
    grid-row: 1;
    row-gap: 2rem;
    align-self: center;
    text-align: left;
}
.sec4-t1
{
    text-align: left;
}
.sec4-f1
{
    font-weight: 900;
    font-size: 42px;
    line-height: 46px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}




/* Section 5*/

.section5
{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 2fr;
    column-gap: 2.5rem;
}



/*section 6*/

.part6
{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

.section6
{
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.sec6-text
{
    text-align: left;
    align-self: center;
}
.sec6-f1
{
    font-weight: 900;
    font-size: 42px;
    line-height: 46px;
}
.sec6-f2
{   font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}



/*section 7*/




.section7{
    display: grid;
    grid-template-columns: 3fr  1fr 3fr 3fr;
    grid-template-rows: 1fr;
    column-gap: 3rem;
    padding: 3rem 0rem;
    
    }
    
    .img-sec7
    {
        grid-column: 2;
        text-align: right;
        align-self:center;
    }
    .sec7-pad,.sec7-f2-mob,.sec7-f3-mob
    {
        text-align: left;
        padding: 0rem;
    }
    
    





}
